In [20]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
%matplotlib inline

# Split
from sklearn.model_selection import train_test_split

from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [21]:
df = pd.read_excel("datasets/users_purchase_history.xlsx", names=['userId', 'itemId','purchaseTime','numPurchased'])

In [22]:
popular_products = pd.DataFrame(df.groupby('itemId')['numPurchased'].count())
most_popular = popular_products.sort_values('numPurchased', ascending=False)
output_df = most_popular.head(3)

In [23]:
output_df.to_excel("outputs/top_rankings.xlsx")

In [24]:
reader = Reader()
data = Dataset.load_from_df(df[['userId', 'itemId', 'numPurchased']], reader)
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
trainset = data.build_full_trainset()
svd.fit(trainset)
df['userId'].value_counts()

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    8.0305  7.9971  7.7698  8.1069  7.7284  7.9265  0.1498
MAE (testset)     6.3599  6.7133  6.2929  6.6656  6.3604  6.4784  0.1747
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00

userId
510892B000014EBB    92
510812B00000C8DD    84
510812B00000D429    77
510812B00000D2AF    71
5109C2B00001E932    70
5109C2B00001E6BE    66
510892B00001634B    64
510892B000015B41    63
510892B000015CB7    54
510892B0000153AC    41
510892B00001515E    41
510812B00000D2DD    37
510892B00001637F    34
510812B00000D1DE    26
510812B00000D2D2    23
510892B000015206    20
510812B00000CADE    12
Name: count, dtype: int64

In [25]:
df[df['userId'] == '510812B00000C8DD']

               userId    itemId            purchaseTime  numPurchased
46   510812B00000C8DD  CIL_0065 2023-09-30 18:34:50.618            18
47   510812B00000C8DD  RHI_0056 2022-12-21 20:03:56.618            12
48   510812B00000C8DD  COM_0020 2023-08-23 14:00:57.618            16
49   510812B00000C8DD  IFC_0354 2022-11-26 09:11:32.618             2
50   510812B00000C8DD  CIL_0049 2023-10-09 03:57:36.618             3
..                ...       ...                     ...           ...
381  510812B00000C8DD  IFC_0354 2023-05-25 05:16:08.618            17
382  510812B00000C8DD  RHI_0065 2023-01-18 10:30:58.618             5
383  510812B00000C8DD  RHI_0056 2023-09-20 11:21:06.618             2
384  510812B00000C8DD  CIL_0049 2023-05-28 21:21:41.618             1
385  510812B00000C8DD  PRR_0019 2023-04-15 00:53:16.618             7

[84 rows x 4 columns]

In [29]:
svd.predict('510812B00000C8DD', 'CIL_0049', 5.0)

Prediction(uid='510812B00000C8DD', iid='CIL_0049', r_ui=5.0, est=3.225769753270294, details={'was_impossible': False})